<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280347987330-8uqcfhmidskgdh3eogejvuav99k4kejj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280347987330-8uqcfhmidskgdh3eogejvuav99k4kejj</string>
	<key>API_KEY</key>
	<string>AIzaSyAdXCbkn4_M4VWQILP1i05Rw_KEVIJRbsI</string>
	<key>GCM_SENDER_ID</key>
	<string>280347987330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timothystokarski.WersetDnia3</string>
	<key>PROJECT_ID</key>
	<string>wersetdnia</string>
	<key>STORAGE_BUCKET</key>
	<string>wersetdnia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280347987330:ios:56cd9894de78baf98ed39b</string>
</dict>
</plist>